In [1]:
import pandas as pd
import numpy as np
import os
import glob

In [2]:
# 데이터 불러오기
folder_path = "./data"
# 폴더 내 모든 CSV 파일 가져오기
csv_files = glob.glob(os.path.join(folder_path, "*.csv"))

# CSV 파일 병합
df_list = [pd.read_csv(file) for file in csv_files]  # 각 CSV를 데이터프레임으로 변환
merged_df = pd.concat(df_list, ignore_index=True)  # 병합 후 인덱스 재설정

In [3]:
merged_df

            Date  AvgPrice  TradeCount item_name
0     2024-12-29      66.8      547780     고대 유물
1     2024-12-30      66.0      509673     고대 유물
2     2024-12-31      66.0      454989     고대 유물
3     2025-01-01      65.1      416679     고대 유물
4     2025-01-02      62.1      399887     고대 유물
...          ...       ...         ...       ...
3859  2025-03-15     133.2      162354    희귀한 유물
3860  2025-03-16     132.2      174361    희귀한 유물
3861  2025-03-17     131.5      157981    희귀한 유물
3862  2025-03-18     130.8      161629    희귀한 유물
3863  2025-03-19     133.6      112376    희귀한 유물

[3864 rows x 4 columns]

In [4]:
merged_df.to_csv("daily_market_data_per_day.csv", index=False, encoding='utf-8-sig')